@model BS.DMO.Models.HelpDesk.BOARD_GROUP
@{
    ViewData["Title"] = "Board Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Add/Edit @ViewData["Title"]</h3>
        <div class="card-tools">
            
        </div>
    </div>
    <form asp-action="AddEditBoardGroup">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <input asp-for="BOARD_ID" type="hidden" />
            <input asp-for="RowVersion" type="hidden" />
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="GROUP_NAME" class="control-label"></label>
                    <input asp-for="GROUP_NAME" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Group Name">
                    <span asp-validation-for="GROUP_NAME" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="BS_COLOR" class="control-label"></label>
                    <select asp-for="BS_COLOR" asp-items="@ViewBag.BS_COLOR" class="form-control form-control-sm">
                    </select>
                    <span asp-validation-for="BS_COLOR" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="ORDER_BY" class="control-label"></label>
                    <input asp-for="ORDER_BY" class="form-control form-control-sm" autocomplete="off" placeholder="Order By">
                    <span asp-validation-for="ORDER_BY" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="LIMIT_ROWS" class="control-label"></label>
                    <input asp-for="LIMIT_ROWS" class="form-control form-control-sm" autocomplete="off" placeholder="Limit Rows">
                    <span asp-validation-for="LIMIT_ROWS" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="IS_ACTIVE" class="control-label"></label>
                    <input asp-for="IS_ACTIVE" type="checkbox" class="form-control form-control-sm">
                    <span asp-validation-for="IS_ACTIVE" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-chevron-left"></i> Back</a>
            <button class="btn btn-sm btn-info" type="reset"><i class="fa fa-undo"></i> Reset</button>
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Submit</button>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}