@model BS.DMO.Models.Setup.YEARLY_LEAVE_CALENDAR
@{
    Layout = null;
}

<form asp-area="Setup" asp-controller="YearlyLeaveCalendar" asp-action="AddUpdate" id="partialForm" method="post" onkeydown="return event.key != 'Enter';">
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="ID" type="hidden" />
        <input asp-for="RowVersion" type="hidden" />
        <div class="row">
            <div class="col-md-2">
                <label asp-for="FINANCIAL_YEAR_ID" class="control-label"></label>
                <select asp-for="FINANCIAL_YEAR_ID" asp-items="@ViewBag.FINANCIAL_YEAR_ID" class="form-control form-control-sm">
                </select>
                <span asp-validation-for="FINANCIAL_YEAR_ID" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="HOLIDAY_TYPE_ID" class="control-label"></label>
                <select asp-for="HOLIDAY_TYPE_ID" asp-items="@ViewBag.HOLIDAY_TYPE_ID" class="form-control form-control-sm">
                </select>
                <span asp-validation-for="HOLIDAY_TYPE_ID" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="NO_OF_LEAVE" class="control-label"></label>
                <input asp-for="NO_OF_LEAVE" class="form-control form-control-sm" autocomplete="off" placeholder="Leave Quantity">
                <span asp-validation-for="NO_OF_LEAVE" class="text-danger"></span>
            </div>
            <div class="col-md-1">
                <label asp-for="IS_ACTIVE" class="control-label"></label>
                <input asp-for="IS_ACTIVE" type="checkbox" class="form-control form-control-sm">
                <span asp-validation-for="IS_ACTIVE" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}