@model BS.DMO.Models.Inventory.ITEM_CLASS
@{
    ViewData["Title"] = "Item Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Add/Edit @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>
    <form asp-action="AddUpdate">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <input asp-for="RowVersion" type="hidden" />
            <div class="row">

                <div class="col-md-4">
                    <label asp-for="CLASS_NAME" class="control-label"></label>
                    <input asp-for="CLASS_NAME" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Class Name">
                    <span asp-validation-for="CLASS_NAME" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <label asp-for="CLASS_DESC" class="control-label"></label>
                    <input asp-for="CLASS_DESC" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Description">
                    <span asp-validation-for="CLASS_DESC" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                    <label asp-for="IS_MAIN_PRODUCT" class="control-label"></label>
                    <input asp-for="IS_MAIN_PRODUCT" type="checkbox" class="form-control form-control-sm">
                    <span asp-validation-for="IS_MAIN_PRODUCT" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                    <label asp-for="ALLOW_QTY_SPLIT" class="control-label"></label>
                    <input asp-for="ALLOW_QTY_SPLIT" type="checkbox" class="form-control form-control-sm">
                    <span asp-validation-for="ALLOW_QTY_SPLIT" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                    <label asp-for="IS_ACTIVE" class="control-label"></label>
                    <input asp-for="IS_ACTIVE" type="checkbox" class="form-control form-control-sm">
                    <span asp-validation-for="IS_ACTIVE" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-chevron-left"></i> Back</a>
            <button class="btn btn-sm btn-info" type="reset"><i class="fa fa-undo"></i> Reset</button>
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Submit</button>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}