@model BS.DMO.Models.Setup.BANK_BRANCH
@{
    ViewData["Title"] = "Bank Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Add/Edit @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>
    <form asp-action="AddUpdate">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <input asp-for="RowVersion" type="hidden" />
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="BANK_ID" class="control-label"></label>
                    <select asp-for="BANK_ID" asp-items="@(new SelectList(ViewBag.BANK_ID, "ID", "BANK_NAME"))" class="form-control form-control-sm">
                    </select>
                    <span asp-validation-for="BANK_ID" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="BRANCH_NAME" class="control-label"></label>
                    <input asp-for="BRANCH_NAME" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Branch Name">
                    <span asp-validation-for="BRANCH_NAME" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="SHORT_NAME" class="control-label"></label>
                    <input asp-for="SHORT_NAME" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Short Name">
                    <span asp-validation-for="SHORT_NAME" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="BRANCH_ADDRESS" class="control-label"></label>
                    <input asp-for="BRANCH_ADDRESS" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Branch Address">
                    <span asp-validation-for="BRANCH_ADDRESS" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="ROUTE_NO" class="control-label"></label>
                    <input asp-for="ROUTE_NO" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Route No">
                    <span asp-validation-for="ROUTE_NO" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="SWIFT_CODE" class="control-label"></label>
                    <input asp-for="SWIFT_CODE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="SWIFT Code">
                    <span asp-validation-for="SWIFT_CODE" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-chevron-left"></i> Back</a>
            <button class="btn btn-sm btn-info" type="reset"><i class="fa fa-undo"></i> Reset</button>
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Submit</button>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}