@model BS.DMO.ViewModels.SalesOrder.NEW_SB_VM
@{
    ViewData["Title"] = "Sales Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="AddUpdate">
    <div id="accordion">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="SB_MASTER.ID" type="hidden" />
        <input asp-for="SB_MASTER.TRN_TYPE_ID" type="hidden" />
        <input asp-for="SB_MASTER.TRN_ID" type="hidden" />
        <input asp-for="SB_MASTER.RowVersion" type="hidden" />

        <div class="card card-primary card-outline">
            <div class="card-header">
                <h4 class="card-title w-100">
                    <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                        <i class="fas fa-cog"></i> Transaction
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.TRN_SOURCE_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER.TRN_SOURCE_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.TRN_SOURCE_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.TRN_NO" class="control-label"></label>
                            <input asp-for="SB_MASTER.TRN_NO" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.TRN_NO" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.REF_TRN_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER.REF_TRN_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Ref Trn No">
                            <span asp-validation-for="SB_MASTER.REF_TRN_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER.TRN_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER.TRN_DATE" type="date" class="form-control form-control-sm" autocomplete="off" placeholder="Trn Date">
                            <span asp-validation-for="SB_MASTER.TRN_DATE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.TRN_NOTE" class="control-label"></label>
                            <input asp-for="SB_MASTER.TRN_NOTE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn Note">
                            <span asp-validation-for="SB_MASTER.TRN_NOTE" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-secondary card-outline">
            <div class="card-header">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseTwo">
                        <i class="fas fa-home"></i>  Office
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.SUB_SECTION_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER.SUB_SECTION_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Sub Section Id">
                            <span asp-validation-for="SB_MASTER.SUB_SECTION_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER.FROM_USER_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER.FROM_USER_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="From User">
                            <span asp-validation-for="SB_MASTER.FROM_USER_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER.TO_USER_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER.TO_USER_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="To User">
                            <span asp-validation-for="SB_MASTER.TO_USER_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.TRN_DOCUMENT" class="control-label"></label>
                            <input asp-for="SB_MASTER.TRN_DOCUMENT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Document">
                            <span asp-validation-for="SB_MASTER.TRN_DOCUMENT" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-info card-outline">
            <div class="card-header">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                        <i class="fas fa-user"></i>  Customer
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.CONTACT_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER.CONTACT_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Customer">
                            <span asp-validation-for="SB_MASTER.CONTACT_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.CONTACT_ADDRESS_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER.CONTACT_ADDRESS_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Customer Bill Address">
                            <span asp-validation-for="SB_MASTER.CONTACT_ADDRESS_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.CUSTOMER_REF_NO" class="control-label"></label>
                            <input asp-for="SB_MASTER.CUSTOMER_REF_NO" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Customer Ref No">
                            <span asp-validation-for="SB_MASTER.CUSTOMER_REF_NO" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.CUSTOMER_DOCUMENT" class="control-label"></label>
                            <input asp-for="SB_MASTER.CUSTOMER_DOCUMENT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Customer Document">
                            <span asp-validation-for="SB_MASTER.CUSTOMER_DOCUMENT" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-success card-outline">
            <div class="card-header">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseFour">
                        <i class="fas fa-cogs"></i> Transaction Process
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.LAST_MFG_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER.LAST_MFG_DATE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.LAST_MFG_DATE" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.LAST_DELIVERY_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER.LAST_DELIVERY_DATE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.LAST_DELIVERY_DATE" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER.FGD" class="control-label"></label>
                            <input asp-for="SB_MASTER.FGD" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.FGD" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER.LDD" class="control-label"></label>
                            <input asp-for="SB_MASTER.LDD" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.LDD" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-warning card-outline">
            <div class="card-header">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseFive">
                        <i class="fas fa-dollar-sign"></i> Transaction Amount
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER.TRN_VALID_DAYS" class="control-label"></label>
                            <input asp-for="SB_MASTER.TRN_VALID_DAYS" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn Valid Days">
                            <span asp-validation-for="SB_MASTER.TRN_VALID_DAYS" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.TRN_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER.TRN_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn Amount">
                            <span asp-validation-for="SB_MASTER.TRN_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER.CHARGE_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER.CHARGE_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Charge Amount">
                            <span asp-validation-for="SB_MASTER.CHARGE_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.DISCOUNT_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER.DISCOUNT_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.DISCOUNT_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.ADD_DISCOUNT_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER.ADD_DISCOUNT_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.ADD_DISCOUNT_AMOUNT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.VAT_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER.VAT_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.VAT_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.NET_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER.NET_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.NET_AMOUNT" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-danger card-outline">
            <div class="card-header">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseSix">
                        <i class="fas fa-share"></i>  Payment
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.ADVANCED_PAYMENT_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER.ADVANCED_PAYMENT_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.ADVANCED_PAYMENT_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.PAID_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER.PAID_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.PAID_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.DUE_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER.DUE_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.DUE_AMOUNT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.PAYMENT_MODE" class="control-label"></label>
                            <input asp-for="SB_MASTER.PAYMENT_MODE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.PAYMENT_MODE" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.PAYMENT_METHOD" class="control-label"></label>
                            <input asp-for="SB_MASTER.PAYMENT_METHOD" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.PAYMENT_METHOD" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER.IS_PAID" class="control-label"></label>
                            <input asp-for="SB_MASTER.IS_PAID" type="checkbox" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.IS_PAID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-gray card-outline">
            <div class="card-header">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseSeven">
                        <i class="fas fa-check"></i> Authorize
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.IS_CANCELLED" class="control-label"></label>
                            <input asp-for="SB_MASTER.IS_CANCELLED" type="checkbox" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.IS_CANCELLED" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.CANCELLED_USER_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER.CANCELLED_USER_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.CANCELLED_USER_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.CANCELLED_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER.CANCELLED_DATE" type="date" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.CANCELLED_DATE" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.CANCELLED_NOTE" class="control-label"></label>
                            <input asp-for="SB_MASTER.CANCELLED_NOTE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.CANCELLED_NOTE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.IS_POSTED" class="control-label"></label>
                            <input asp-for="SB_MASTER.IS_POSTED" type="checkbox" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.IS_POSTED" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.POSTED_USER_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER.POSTED_USER_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.POSTED_USER_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.POSTED_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER.POSTED_DATE" type="date" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.POSTED_DATE" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.POSTED_NOTE" class="control-label"></label>
                            <input asp-for="SB_MASTER.POSTED_NOTE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.POSTED_NOTE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.IS_APPROVE" class="control-label"></label>
                            <input asp-for="SB_MASTER.IS_APPROVE" type="checkbox" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.IS_APPROVE" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.APPROVE_USER_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER.APPROVE_USER_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.APPROVE_USER_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.APPROVE_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER.APPROVE_DATE" type="date" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.APPROVE_DATE" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.APPROVE_NOTE" class="control-label"></label>
                            <input asp-for="SB_MASTER.APPROVE_NOTE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.APPROVE_NOTE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER.NEXT_STEP" class="control-label"></label>
                            <input asp-for="SB_MASTER.NEXT_STEP" type="checkbox" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No">
                            <span asp-validation-for="SB_MASTER.NEXT_STEP" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-indigo card-outline">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-tag"></i> Products</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-chevron-left"></i> Back</a>
            <button class="btn btn-sm btn-info" type="reset"><i class="fa fa-undo"></i> Reset</button>
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Submit</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}