@model System.String
@{
    ViewData["Title"] = "Home Page";
}
<a asp-area="" asp-controller="PageNumber" asp-action="Index">Page Number</a>
<a asp-area="" asp-controller="Home" asp-action="LoginLog">Login Log</a>
<hr/>
<textarea cols="140" rows="10">@Model</textarea>