@model System.String
@{
    ViewData["Title"] = "Home Page";
}
<h3>
    <a asp-area="" asp-controller="Home" asp-action="LoginLog">Login Log</a>
</h3>
<hr />
<textarea cols="140" rows="10">@Model</textarea>