@model System.String
@{
    ViewData["Title"] = "Home Page";

    Layout = "~/Views/Shared/_Layout_Top.cshtml";

    <style>
        .tab-close-button {
            font-size: 1.2rem;
            margin-left: 0.5rem;
            cursor: pointer;
        }
    </style>
}
<h3>
    <a asp-area="" asp-controller="Home" asp-action="LoginLog">Login Log</a>
</h3>
<hr />
<textarea cols="140" rows="10">@Model</textarea>

<div class="container mt-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
                Tab 1
                @* <span class="tab-close-button" aria-label="Close">&times;</span> *@
            </a>
        </li>
@*         <li class="nav-item">
            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
                Tab 2
                <span class="tab-close-button" aria-label="Close">&times;</span>
            </a>
        </li> *@
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <p>
                <a href="Home/Privacy" class="open-tab-link" data-target="new-tab1">Privacy</a>
                <a href="Home/Page1" class="open-tab-link" data-target="new-tab2">Page 1</a>
                <a href="Home/Page2" class="open-tab-link" data-target="new-tab2">Page 2</a>
            </p>
        </div>@* 
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <p>Content for Tab 2</p>
        </div> *@
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // Handle click event on links inside the first tab
        $('#tab1').on('click', '.open-tab-link', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var target = $(this).data('target');
            var tabId = 'tab-' + target;

            // Create new tab content if it doesn't already exist
            if ($('#' + tabId).length === 0) {
                // Create new tab navigation link
                var tabLink = $('<a class="nav-link" id="' + tabId + '-tab" data-toggle="tab" href="#' + tabId + '" role="tab" aria-controls="' + tabId + '" aria-selected="false">New Tab <span class="tab-close-button" aria-label="Close">&times;</span></a>');
                var navItem = $('<li class="nav-item"></li>').append(tabLink);
                $('#myTab').append(navItem);

                // Create new tab content
                var tabContent = $('<div class="tab-pane fade" id="' + tabId + '" role="tabpanel" aria-labelledby="' + tabId + '-tab"></div>');
                $('#myTabContent').append(tabContent);

                // Activate the new tab
                tabLink.tab('show');

                // Load content via AJAX
                $.ajax({
                    url: url,
                    success: function (data) {
                        tabContent.html(data);
                    },
                    error: function (xhr, status, error) {
                        tabContent.html('<p>Error loading content. Please try again later.</p>');
                        console.error("AJAX Error:", status, error);
                    }
                });

                // Customize the content inside the new tab as needed
                //tabContent.html('<h4>' + target + '</h4><p>Content for ' + target + '</p>');
            } else {
                // If tab already exists, activate it
                $('#' + tabId + '-tab').tab('show');
            }
        });

        // Handle click event on tab close buttons
        $('#myTab').on('click', '.tab-close-button', function (e) {
            e.preventDefault();
            var tabLink = $(this).closest('a');
            var tabId = tabLink.attr('href').substr(1);

            // Remove tab and content
            tabLink.parent().remove(); // Remove the tab link
            $('#' + tabId).remove(); // Remove the tab content

            // Activate the first tab if there are no active tabs
            if ($('.nav-link.active').length === 0) {
                $('#myTab .nav-link').first().tab('show');
            }
        });
    });
</script>
