@model BS.DMO.Models.Setup.COUNTRY_INFO
@{
    Layout = null;
}
    <form asp-area="Setup" asp-controller="CountryInfo" asp-action="AddUpdate" id="partialForm" method="post" onkeydown="return event.key != 'Enter';">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <input asp-for="RowVersion" type="hidden" />
            <div class="row">
                <div class="col-md-10">
                    <label asp-for="COUNTRY_NAME" class="control-label"></label>
                    <input asp-for="COUNTRY_NAME" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Country Name">
                    <span asp-validation-for="COUNTRY_NAME" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="IS_ACTIVE" class="control-label"></label>
                    <input asp-for="IS_ACTIVE" type="checkbox" class="form-control form-control-sm">
                    <span asp-validation-for="IS_ACTIVE" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}