@model BS.DMO.Models.Setup.HOLIDAY_TYPE
@{
    Layout = null;
}

<form asp-area="Setup" asp-controller="HolidayType" asp-action="AddUpdate" id="partialForm" method="post" onkeydown="return event.key != 'Enter';">
    <div class="card-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="ID" type="hidden" />
        <input asp-for="RowVersion" type="hidden" />
        <div class="row">
            <div class="col-md-6">
                <label asp-for="HOLIDAY_TYPE_NAME" class="control-label"></label>
                <input asp-for="HOLIDAY_TYPE_NAME" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Holiday Type Name">
                <span asp-validation-for="HOLIDAY_TYPE_NAME" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="IS_APPLICATION_REQUIRED" class="control-label"></label>
                <input asp-for="IS_APPLICATION_REQUIRED" type="checkbox" class="form-control form-control-sm">
                <span asp-validation-for="IS_APPLICATION_REQUIRED" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="IS_ACTIVE" class="control-label"></label>
                <input asp-for="IS_ACTIVE" type="checkbox" class="form-control form-control-sm">
                <span asp-validation-for="IS_ACTIVE" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
