@model BS.DMO.Models.HRMS.Setup.WORK_SHIFT
@{
    ViewData["Title"] = "Work Shift";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Add/Edit @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>
    <form asp-action="AddUpdate">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <input asp-for="RowVersion" type="hidden" />
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="SHIFT_NAME" class="control-label"></label>
                    <input asp-for="SHIFT_NAME" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Shit name">
                    <span asp-validation-for="SHIFT_NAME" class="text-danger"></span>
                </div>@* 
                <div class="col-md-2">
                    <label asp-for="IN_TIME" class="control-label"></label>
                    <input asp-for="IN_TIME" type="time" class="form-control form-control-sm" autocomplete="off" placeholder="In time">
                    <span asp-validation-for="IN_TIME" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="OUT_TIME" class="control-label"></label>
                    <input asp-for="OUT_TIME" type="time" class="form-control form-control-sm" autocomplete="off" placeholder="Out time">
                    <span asp-validation-for="OUT_TIME" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="GRACE_TIME" class="control-label"></label>
                    <input asp-for="GRACE_TIME" class="form-control form-control-sm" autocomplete="off" placeholder="Grace Time (Min)">
                    <span asp-validation-for="GRACE_TIME" class="text-danger"></span>
                </div> *@
                <div class="col-md-2">
                    <label asp-for="IS_ACTIVE" class="control-label"></label>
                    <input asp-for="IS_ACTIVE" type="checkbox" class="form-control form-control-sm" >
                    <span asp-validation-for="IS_ACTIVE" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-chevron-left"></i> Back</a>
            <button class="btn btn-sm btn-info" type="reset"><i class="fa fa-undo"></i> Reset</button>
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Submit</button>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}