@model BS.DMO.Models.Accounts.BankLoan.BANK_LOAN_SCHEDULE
@{
    ViewData["Title"] = "Loan Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Add/Edit @ViewData["Title"]</h3>
        <div class="card-tools">
        </div>
    </div>
    <form asp-action="Payment">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <input asp-for="BANK_LOAN_MASTER_ID" type="hidden" />
            <input asp-for="RowVersion" type="hidden" />
            <div class="row">
                <div class="col-md-1">
                    <label asp-for="SCHEDULE_NO" class="control-label"></label>
                    <input asp-for="SCHEDULE_NO" type="text" class="custom-input custom-input-xs" readonly>
                    <span asp-validation-for="SCHEDULE_NO" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="PAYMENT_INFO" class="control-label"></label>
                    <input asp-for="PAYMENT_INFO" type="text" class="custom-input custom-input-xs" autocomplete="off" placeholder="Payment Info">
                    <span asp-validation-for="PAYMENT_INFO" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="PAY_AMOUNT" class="control-label"></label>
                    <input asp-for="PAY_AMOUNT" class="custom-input custom-input-xs" placeholder="Payment Amount">
                    <span asp-validation-for="PAY_AMOUNT" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="PAY_DATE" class="control-label"></label>
                    <input asp-for="PAY_DATE" type="text" class="custom-input custom-input-xs datepicker" autocomplete="off" placeholder="Payment Date">
                    <span asp-validation-for="PAY_DATE" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="FINE_AMOUNT" class="control-label"></label>
                    <input asp-for="FINE_AMOUNT" class="custom-input custom-input-xs" placeholder="Fine Amount">
                    <span asp-validation-for="FINE_AMOUNT" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="FINE_DATE" class="control-label"></label>
                    <input asp-for="FINE_DATE" type="text" class="custom-input custom-input-xs datepicker" autocomplete="off" placeholder="Fine Date">
                    <span asp-validation-for="FINE_DATE" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-chevron-left"></i> Back</a>
            <button class="btn btn-sm btn-info" type="reset"><i class="fa fa-undo"></i> Reset</button>
            @if (Model.ALLOW_ADD)
            {
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Submit</button>                
            }
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}